@model Person

@{
}

<div>
    <a asp-controller="Home" asp-action="Index">Home</a>

    <h3>Information about @Model.Name @Model.SurName</h3>
    <ul>
        <li>@Model.Email</li>
        <li>@Model.PhoneNumber</li>
    </ul>
</div>